<ion-view title="Actividad" ng-init="initView()">
    <ion-nav-buttons side="right" >
        <md-button class="md-icon-button ion-nav-button-right headBtnHome" ng-click="goHome()"
                   aria-label="Setting">
            <i class="ion-home" style=""></i>
        </md-button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <div class='styleLoader' ng-show="showLoaderActi">
       <ion-spinner icon='android' class='loadingok'>
       </ion-spinner>
    </div> 
    <div>
    <div class="row rowButtonSt" ng-show="ok">
      <div class="col">
        <a class="item item-icon-left positive buttonSt" ng-click="changeView('master.home-clientesABC',1);">
          <i class="icon ion-ios-personadd"></i>
           Cliente
        </a>       
      </div>
      <div class="col">
        <a class="item item-icon-left positive buttonSt" ng-click="gotoPedido();">
          <i class="icon ion-compose"></i>
           Pedido
        </a>       
      </div>
      <div class="col">
        <a class="item item-icon-left positive buttonSt" ng-click="openModalConsultas();">
          <i class="icon ion-card"></i>
           &nbsp;Cre.
        </a>       
      </div>
    </div>
    <ion-refresher  on-refresh="getActividades();">
    </ion-refresher>
    <label class="item-input" ng-show="!showLoaderActi">
      <i class="icon ion-calendar placeholder-icon"></i>
      <input type="date" id="txtFecha" class="borderBottom"  placeholder="Buscado general . . ">
    </label>        
	  <div class="item-input" ng-show="!showLoaderActi">	    
	    <input type="text" class="borderBottom" ng-model="params.filter" placeholder="Buscado general . . ">
      <i class="icon  placeholder-icon"></i>
      <a class="button button-icon icon ion-ios-search positive" ng-click="getActividades(1);"></a>
	  </div>
  </div>
  <ion-infinite-scroll on-infinite="getMoreClientes()" ng-if="hasMoreData" distance="0%">
  </ion-infinite-scroll>
    </ion-content>   
</ion-view>